.select-type{
  width: 100%;
}

.addType{
  margin: 20px 0 10px 0;
  width: 100%;
}

.markdown-content{
  overflow: auto;
  max-height: 500px;
}

.markdown-introduce{
  overflow:auto;
  height: 450px;
}