.author-div {
  text-align: center;
  padding: 1rem;
}
.author-div div {
  margin-bottom: 1rem;
}
.author-introduction {
  font-size: 0.8rem;
  color: #999;
}
.account {
  background-color: #999;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.account:hover{
  background-color: rgba(0, 0, 0, 0.671);
  cursor: pointer;
}
.ant-popover-inner-content {
  padding: 0;
}
.iconBox {
  width:80px;
}
.author-span{
  padding: 0 .5em 0 .5em;
  color: #999;
}
.author-name{
  font-size: 14px;
  color: rgba(136, 135, 222, 0.733);
  font-weight: bold;
  margin-top: .2rem;
}
.tag{
  margin-bottom: 5px;
  box-sizing: border-box;
}
.tags{
  height: 53px;
}
.description{
  
}
