.Comment{
  padding-top: 1em;
}
.comment-form{
  padding: .5em 1em 0 1em;
}
.comment-input{
  display: inline-block;
  width: 45%;
  margin-right: 1em;
}
.comment-btnGroup{
  text-align: right;
}
.btn1{
  margin-right: .5em;
}
.comment-area{
  position: relative;
}
.area-span{
  position: absolute;
  bottom: .3em;
  right: 0;
  font-size: .9em;
  margin-right: .5em;
  color: #999;
}
.noCommentData{
  text-align: center;
  font-size: 14px;
  color: #999;
}